.portfolio {
    width: 100vw;
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
}
.portfolioTitle {
    border-bottom: solid 2px #2f3d4d;
    font-family: 'Quicksand';
    margin: 50px;
}
.deck {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin: 0;
}
.card {
    position: relative;
    margin: 5px;
    width: 425px;
    height: 230px;
    border: none;
    transition: all ease-in-out 0.5s;
    color: #ffffff;
    overflow: hidden;
}
.btnLink {
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
a,
a:active,
a:hover {
    color: #2f3d4d;
    text-decoration: none;
}



@media only screen and (max-width: 1024px){
    .deck{
        width: 100%;
    }
}

@media only screen and (max-width: 724px){

}