.about{
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Quicksand', 'san-serif';
}
.icon{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
h3{
    text-align:center;

}
.aboutTitle{
    display: block;
    margin: auto;
    border-bottom: solid 2px black;
    margin-bottom: 50px;
}
.skillsDiv{
    width: 70%;
    margin: 0 auto;
}
.skills{
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: space-around;
    list-style-type: none;
}

li{
    margin-left:50px;
    margin-right:50px;
}


.aboutText{
    padding: 50px;
    background-color: #00adee;
    color: #ffffff;
    clip-path: polygon(0 1%, 100% 7%, 98% 80%, 5% 93%);
    width: 90%;
    font-size: 20px;
}


@media only screen and (max-width: 670px){
    .skills{
        flex-direction: column;
        overflow: unset;
        width: 100%;
        overflow-wrap: break-word;
    }
}

