.home{
    margin: 0;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(to bottom, #434343, #000000);
    background: linear-gradient(to top, #434343, #222222); 
    font-family: 'Quicksand', sans-serif;
    z-index: 4;
    
}
.particles{
    position: absolute;
    z-index: -1;
    max-height: 100%;
    width: 100%;
}
.hero{
    position: relative;
    display: flex;
    justify-content: center;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}
.jumbotron{
background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.container{padding: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    /* border: solid 2px #ffffff; */
}
.name{
    color: #00adee;
    border: none;
}
.text{
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    padding: 20px;
    margin-top: 30px;
    color: #00adee;
    font-family: 'Quicksand Bold', sans-serif;}
.aboutBtn{
    background-color: #ffffff;
    background-color:rgba(0, 0, 0, 0);
    color: #ffffff;
    margin-top: 60px;
    width: 200px;
    border: solid 1px #ffffff;
    transition: all 500ms;
    font-weight: bold;
    font-size: 20px;
}
.aboutBtn:hover{
    background-color:#00adee;
    color: #ffffff;
    transition:  500ms;
}
.aboutBtn:active, .aboutBtn:focus{
    outline: none;
}
 .btnLink, .btnLink:active{
    color: #222222;
    text-decoration: none;
 }
 
 .btnLink:hover{
    color: #ffffff;
    transition:  500ms;
    text-decoration: none;
 }
.about{
    height: 600px;
}
.aboutText{
    margin: 0 auto;
    background-color: #ffffff;
    /* width: 60%; */
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
}

@media only screen and (max-width: 600px){
    .hero{
        width: 100%;
    }

    canvas{
        height: 100vh!important;
    }
   

}