.contact {
    background-color:#222222;
    padding: 5%;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content {
    background-color: #2f3d4d;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 700px; 
    border: 0px solid none;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);

}

.contactTitle {
    margin: 0 auto;
    position: relative;
    color: #00adee;
    padding-bottom: 50px;
    font-family: 'Quicksand-Bold';
}

.formDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textInput {
    height: 20vh;
}

input,
input:disabled,
textarea,
textarea:disabled
 {
    margin: 5px;
    color:white;
    background-color: #2f3d4d;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    width:80%;
}

.sendbtn {
    width: 100px;
    display: flex;
    justify-content: center;
    width: 200px;
    color:white;
    background-color: #2f3d4d;
    border: solid 2px #ffffff;
    margin: 0 auto;
    transition: ease all 500ms;
}

.sendbtn:hover{
    background-color: #00adee;
    transition: ease all 500ms;
}