.footer{
    width:100%;
    position: relative;
    bottom: 0;
    background-color:#2f3d4d;
    padding:40px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkItem{
    margin:20px;
}

/* .scrollToTopBtn,  */
.copyRight{
    display: block;
    margin: 0 auto;
    border: none;
    color: #ffffff;
    text-align: center;

}