.footer{
    width:100%;
    position: relative;
    bottom: 0;
    background-color:#2f3d4d;
    padding:40px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkItem{
    margin:20px;
}

.copyRight{
    display: block;
    margin: 0 auto;
    border: none;
    color: #ffffff;
    text-align: center;

}

.scrollToTopBtn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute ;
    z-index: 10;
    right: 50px;
    bottom: 70px;
}
.scrollToTopBtn:focus{
    outline: none;
}